doctype
html
  head
    title #{name} - MTM
    link(rel='stylesheet', href='/styles/metoo.css')
  body
    header.container
      img(src='/img/mtmlogo.png', alt='MTM Logo')
    div.container.center
      h1 #{name}
      h2 Ticket ##{spot}
      p #{date}
    footer.container &copy; #{copy} 
      a(href='http://www.metoomonologuesduke.org/') Me Too